.heading-h-one{
    color: rgb(0, 0, 0);
}
.heading-h-two{
    color: rgb(22, 163, 109);
}
.text-red{
    color: rgb(219, 0, 0);    
}
.blue-p p{
    color: rgb(0, 106, 226);
}
ol{
    color: rgb(207, 124, 0);
}
ul{
    color: rgb(166, 0, 172);
}
.yellow,
.aqua{
    color: rgb(146, 156, 0);
}
#bisque{
    color: rgb(255, 207, 149);
}
div .text{
    color: rgb(0, 174, 197);
}
.text .text-red{
    color: rgb(255, 0, 0);
}
.text ~ p{
	color: rgb(9, 255, 0);
}.text + p {
	color: rgb(255, 91, 181);
}
.level-one > p{
    color: rgb(238, 255, 0);
}
.red.blue{
    color: rgb(217, 172, 255);
}
span {
    color: aquamarine;
}